@model UserVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .btn-color {
            background-color: #0e1c36;
            color: #fff;
        }

        .profile-image-pic {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }

        .cardbody-color {
            background-color: #ebf2fa;
        }

        a {
            text-decoration: none;
        }
    </style>
    <title>Giriş Yap - CreateExam</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Kullanıcı Girişi</h2>
                <div class="text-center mb-5 text-dark"> --- CreateExam ---</div>
                <div class="card my-5">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
                    {
                        <div class="text-center">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" alt="profile" style="width:200px;">
                        </div>

                        <div class="mb-3">
                            @Html.TextBoxFor(x=>x.UserName, new {@class="form-control", placeholder= "Kullanıcı Adı" })
                        </div>
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre", type="password" })
                        </div>

                        @if (ViewBag.Message != null)
                        {
                            <div class="text-center text-danger mb-2"><strong>@ViewBag.Message</strong></div>
                        }
                        <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Giriş Yap</button></div>
                        <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                            @DateTime.Now.Year &copy;  <a href="https://www.linkedin.com/in/trkaydn/">Tarık Aydın</a> Tüm Hakları Saklıdır.
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
