@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ml-5 mr-5 mt-5">
    <div class="jumbotron">
        <h3 class="display-4">Hakkımızda</h3>
        <hr />
        <p>
            Bu proje <a href="https://www.bakiciburada.com/">bakiciburada.com</a> &
            <a href="https://www.unisbul.com/">unisbul.com</a>
            ailesine "Yazılımcı Projesi" olarak tarafımca hazırlanmıştır.
        </p>
        <p>Ekim 2021, Tarık Aydın</p>
        <h6>İletişim: </h6>
        <a href="https://www.linkedin.com/in/trkaydn/">LinkedIn</a><br />
        <a href="https://github.com/trkaydn">GitHub</a><br />
        <a href="mailto:tarikayydin1846@gmail.com">E-Posta</a>
    </div>
</div>