
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/lib/scripts/bootstrap.min.js"></script>
    <script src="~/Content/lib/scripts/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Hata - Personel Listesi</title>
</head>
<body>
    <div class="ml-5 mr-5 mt-5">
        <div class="jumbotron text-center">
            <h3 class="display-1">404 :(</h3>
            <h3 class="display-4">Bir sorun oluştu.</h3>
            <hr />
            <p>
                Aradığınız sayfa bulunamadı ya da böyle bir sayfa yok.
            </p>
            <a class="btn btn-secondary" href="@Url.Action("Index","Home")">Ana Sayfaya Dön</a>
        </div>
    </div>
</body>
</html>
